$blue: #4066a5;
$black: #131821;
$darkblue: #233759;
$darkgrey: #6a707b;
$grey: #e3e3e4;
$lightgrey: #f2f5fa;
$white: #ffffff;
$fb_blue_h: #4267B2;
$inst_pink_h: #C13584;
$twit_blue_h: #1DA1F2;
$yt_red_h: #FF0000;
$fb_blue_a: #2F4A80;
$inst_pink_a: #8F2762;
$twit_blue_a: #177FBF;
$yt_red_a: #CC0000;
$shadow: rgba(19, 24, 33, 0.3);
$icon_black: rgba(19,24,33,0.4);
$success: #4f8a10;
$error: #d8000c;